.input{
    display: flex;
    flex-direction: column;
}

.input input{
    font-size: 1.4rem;
    margin: 5px;
}

.result{
    display: flex;
    justify-content: center;
}

.space{
    margin-right: 4px;
    margin-left: 4px;

}